/* background-attachment: como o fundo vai se movimentar em relação a janela do navegador */
div {
  margin-bottom: 30px;
  width: 600px;
  height: 400px;
  background-image: url('../img/bird-perched-on-a-wire.jpg');
  background-size: cover;
  border: 2px solid red;
  overflow: auto;
}

#fixed {
  background-attachment: fixed; /* fundo da página fica parado */
}

#scroll {
  background-attachment: scroll; /* só o texto scrolla */
}

#local {
  background-attachment: local; /* fundo desce junto */
}