.exemplo {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.inline {
  display: inline-block;
}

#exemplo-sticky {
  position: sticky;
  top: 0;
}

#elemento-01 {
  background-color: orange;
  position: fixed;
  bottom: 0;
  right: 0;
}

#elemento-02 {
  background-color: palevioletred;
/*   position: relative;
  top: 30px;
  left: 80px; */
  position: absolute;
  opacity: 0.4;
  top: 0px; 
  right: 0px;
}

#elemento-03 {
  background-color: palegreen;
  /* position: static; */
}

#elemento-A {
  background-color: lightblue;
}

#elemento-B {
  background-color: lightpink;
/*   position: relative;
  bottom: 80px;
  left: 50px; */
}

#elemento-C {
  background-color: sandybrown;
}

#elemento-pai {
  box-sizing: border-box;
  padding: 10px;
  height: 300px;
  border: 1px solid red;
  position: relative; /* se tornará referência ao position do elemento filho */
}

#elemento-filho {
    background-color: palegreen;
    position: absolute;
    top: 10px;
    left: 10px;
}