.container {
  background: palegreen;
  /* padding: 20px; */
  margin: 20px;
  width: 300px;
  height: 300px;

  display: flex;
  /* justify-content: flex-start; */ /* valor padrão */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  justify-content: space-evenly;
  /* align-items: stretch; (estica os items para ocuparem todo o eixo transversal do flex-container) */
  /* align-items: flex-start; */
  align-items: center;
  /* align-items: baseline; (eixo transversal é alinhado pelo text baseline) */
}

.item {
  background: orange;
  /* margin: 10px; */
}

#container1 {
  flex-direction: row;
}

#container2 {
  height: 300px;
  flex-direction: column;
}

.it1 {
  width: 50px;
  height: 50px;
  align-self: flex-end; /* alinhar um item no container */
}

.it2 {
  width: 80px;
  height: 80px;
}

.it3 {
  width: 40px;
  height: 40px;
}